[user]
    name = ssmylh
    email = ssmylh@gmail.com
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[push]
    default = simple
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[alias]
    st = status
    df = diff
    dfc = diff --cached
    co = checkout
    cob = checkout -b
    com = checkout master
[diff]
    compactionHeuristic = true
